* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
    margin: 0;
}

 

header {
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  
}

section {
  position: absolute;
  top: 140px;
  bottom: 60px;
  left: 0;
  right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
}
