:root {
  --listC-color: #DA7297;
  --itemsC-color: #ffffff;
  --headerText-color: #667BC6;
  --mh-color: #FDFFD2;
  --itemsF-color: #DA7297;
}
html, body {
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 140px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: var(--headerText-color);
  font-family: Verdana;
  background-color: var(--mh-color);
}

main {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--mh-color);
}

.listC {
  background-color: var(--listC-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
  border-radius: 10px;
}

.listItems {
  background-color: var(--itemsC-color);
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  border-radius: 10px;
  color: var(--itemsF-color);
}

.inputC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}
 
  
input {
  margin: 5px;
  border: solid 3px var(--headerText-color);
  padding: 5px;
}

button {
  border-radius: 3px;
  border: none;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

#addBtn {
  background-color: #00DFA2;
  color: white;
}

#addBtn:hover {
  background-color: white;
  color: #00DFA2;
}

#addBtn:active {
  background-color: #00DFA2;
  color: white;
}
.deleteBtn {
  background-color: #FF0060;
  color: white;
}

.deleteBtn:hover {
  background-color: black;
  color: #FF0060;
}

.deleteBtn:active {
  background-color: #FF0060;
  color: white;
}

li {
  font-family: Verdana;
}
