 html {
   border: solid 5px blue;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
 }
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }
 .con {
  width: 50%;
  height: 550px;
  background: red;
  /* display: grid; */

 }

 div {
  border: solid 2px grey;
  width: 100%;
  height: 90px;
 }

.outputW {
  background: purple;
}

#showW {
  background: aqua;
  height: 30px;
}

#output {
  background: pink;
  height: 30px;
}
