 * {
  margin: 0;
  padding: 0;
  /* border-radius: 5px; */
 }
 html {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
 }
  body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B3C53;
  }

 .con {
  width: 100%;
  height: 550px;
  background: black;
  border: solid 6px gray;
  display: grid;
  grid-template-rows: 30% 1fr;
 }

.outputW {
  background: black;
  /* width: 100%;
  height: 50%; */
}

 

#showW {
  background: #D2C1B6;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#output {
  background: #F9F3EF;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tools {
  display: grid;
  grid-template-areas: 
    "one two three plus minus"
    "four five six multi divide"
    "seven eight nine equals equals"
    "clearPrev zero clearAll equals equals";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

button {
  border: none;
}
.btn {
  background: #456882;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 30px;
  margin: 10px;
}

#eq {
  border-radius: 10px;
}

#p, #m, #mul, #div {
  border-radius: 10px;
}


#o {grid-area: one;}
#t {grid-area: two;}
#th {grid-area: three;}
#p {grid-area: plus; background-color: #D2C1B6; color: #456882;}
#m {grid-area: minus; background-color: #D2C1B6; color: #456882;}
#fr {grid-area: four;}
#f {grid-area: five;}
#si {grid-area: six;}
#mul {grid-area: multi; background-color: #D2C1B6; color: #456882;}
#div {grid-area: divide; background-color: #D2C1B6; color: #456882;}
#sv {grid-area: seven;}
#ei {grid-area: eight;}
#ni {grid-area: nine;}
#cp {grid-area: clearPrev;}
#z {grid-area: zero;}
#ca {grid-area: clearAll;}
#eq {grid-area: equals; background-color: #F9F3EF;}
button > i {
  font-size: 30px;
}


@media only screen and (min-width: 320px) {

  .con {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .con {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .con {
    width: 40%;
  }
}

@media only screen and (min-width: 1440px) {
  .con {
    width: 30%;
  }
}

@media only screen and (min-width: 2560px) {
  .con {
    width: 20%;
  }
}
